{%extends 'layout.html'%}
{%block content%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  

<title>Cake</title>

<center>

<body>
    <font color = "red">
        <img src="https://floweraura-blog-img.s3.ap-south-1.amazonaws.com/unique-birthay-cake/img-3.webp" height = 300, width = 400>
    </font>

    <form action="/submit1" method="POST"id="nameform")>

        <font size = "10" color = "maroon"><u>Cake Custimization</u></font><br><br>
                
        <font size="6">
    	Flavour<input type="text" name="flavour" placeholder="ex:chocolate,vanila etc." required>
        <br>
        <br>       

        How many steps would you like?<input type="number" name="steps" placeholder="ex:1 or 2 ..." required>
    
        <br>
        <br> 
                 
    	<span>What toppings would you like?</span> <br>
        <input type="checkbox" name="chocochips">chocochips <br> 
        <input type="checkbox" name="strawberry">strawberry <br> 
        <input type="checkbox" name="fruit">fruit Bits 	<br>
        <br>

	
        Would you like to add EGG in cake <br>
        <input type="radio" name="y or n " id = "yes">
        <label for="yes">Yes</label>
        <input type="radio" name="y or n" id = "no">
        <label for="no">No</label>
        <br>
        </section>
        <label for="caketype">What type of cake would you like?<label>
        <select name="caketype" id="caketype">
            <option value="sesame">chocolate</option>
            <option value="sponge">sponge</option>
            <option value="biscuit">biscuit</option>
        </select>

        <br><br>

        Anything else you want to add?<br>
        <textarea rows="6" cols="70"></textarea>
        
        <br><br>

        <button type="submit" form="nameform" value="Submit">Submit</button>
        <input type="reset" value="clear">   

        <br><br><br>
        </font>

    </form>
</body>
</center>
</html>
{%endblock%}

